:host {
  display: block;
  height: 100%;
  --background: var(--ion-card-backgroun);
  overflow: auto;
  border: 3px solid transparent;
  will-change: transform;
}

ion-icon {
  font-size: 20px;
  float: right;
  position: relative;
  /*top: 20px;*/
}

.header {
  --background: var(--ion-card-background);
  padding: 0px 20px 5px 20px;
  border: 1px solid transparent;
}

.content {
  display: none;
  overflow: auto;
  padding: 0 20px;
}
