<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>GGBetaWerks Mosaic Maker</ion-list-header>
          <ion-note>A Lego Mosaic Maker</ion-note>
        </ion-list>
        <app-sidebar></app-sidebar>
        <ion-text slot="end">v{{ appVersion }}</ion-text>
      </ion-content>
      <ion-footer [translucent]="true">
        <ion-toolbar>
          <ion-text slot="end">v{{ appVersion }}</ion-text>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
