<ion-header>
  <ion-toolbar>
    <ion-title>GGBetaWerks Mosaic Maker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" *ngIf="!sourceImageDataURL">
    <ion-icon lazy="true" slot="start" name="image"></ion-icon>
    <!-- <ion-label slot="end">Upload Image</ion-label> -->
    <input
      type="file"
      (change)="loadImageFromDevice($event)"
      id="file-input"
      accept="image/png, image/jpeg"
    />
  </ion-button>

  <ng-container *ngIf="sourceImageDataURL">
    <image-cropper
      [imageURL]="sourceImageDataURL"
      [maintainAspectRatio]="true"
      [aspectRatio]="ratio"
      format="png"
      (imageCropped)="imageCropped($event)"
    ></image-cropper>
    <ion-item>
      <ion-label>Target Width</ion-label>
      <ion-input
        type="number"
        [required]="true"
        [(ngModel)]="targetWidth"
      ></ion-input>
      <ion-label>Studs</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Target Height</ion-label>
      <ion-input
        type="number"
        [required]="true"
        [(ngModel)]="targetHeight"
      ></ion-input>
      <ion-label>Studs</ion-label>
    </ion-item>

    <ng-container *ngIf="mosaicImageDataURL$ |async as mosaicUrl">
      <app-mosaic-image
        [width]="1000"
        [height]="1000"
        [points]="mosaicPoints$ | async"
        [backgroundColor]="backgroundColor"
        [isRound]="isRound"
        [isTile]="isTile"
      ></app-mosaic-image>
      <ion-img [src]="mosaicUrl"></ion-img>
      <!--This empty item seems to fix the image not necessarily showing up-->
      <ion-item></ion-item>
    </ng-container>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-button expand="full" *ngIf="sourceImageDataURL" (click)="startOver()"
    >Start Over</ion-button
  >
</ion-footer>
